{%- macro render_text(txt) -%}
  <p>{{ txt }}</p>
{%- endmacro -%}

{% macro render_node(node) -%}
  {%- if node['type'] == 'doc' -%}
    {%- if node['content'] -%}
      {{ render_node(node['content']) }}
    {%- endif -%}
  {%- else -%}
    {%- for item in node -%}
      {%- if item['type'] == 'text' -%}
        {{ render_text(item['text']) }}
      {%- else -%}
        Unsupported node type {{item['type']}}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}

{{ render_node(node) }}
